:root {
  --color-light: #eeeeee;
  --color-light2: #e1e1e1;
}

h1 {
  margin: 0;
}

input {
  padding: 10px;
  margin-left: 24px;
  border-radius: 20px;
  border: 1px solid #858588;
  width: 300px;
}

input:focus {
  border: 0;
}

.container {
  padding: 20px;
}

.flex {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center
}

.card {
  border-radius: 20px;
  border: 1px solid #858588;
  padding: 10px 10px 20px 10px;
  margin: 20px;
  width: 240px;
}

.card .image {
  margin-top: 20px;
  margin-bottom: 15px;
}