body {
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #444444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./img/square.svg) repeat;
}

p {
  margin: 0px;
  word-wrap: break-word;
}

p, a {
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

a:link, a:visited {
  color: #444444;
  text-decoration: none;
}

a:hover {
  color: #333333;
  text-decoration: underline;
}

.p-l-20 {
  padding-left: 20px;
}

.p-10 {
  padding: 10px;
}

@media (max-width:480px)  {
  main {
    justify-content: center;
  }
}
